{% extends "base.jinja" %}
{% block title %}Homepage{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div id="competitions">
    <ul>
        {% for folder, competition_name in competitions.items() %}
        <li><a href="./{{ folder }}.html">{{ competition_name }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
