{% extends "base.jinja" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
{{ super() }}

<link rel="stylesheet" href="../static/style.css" />
{% endblock %}
{% block content %}


<div id="leaderboard-table">
{{ participant_league_table_with_links }}
</div>
{% endblock %}
