{% extends "base.jinja" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
{{ super() }}

    <link rel="stylesheet" href="../static/style.css" />
{% endblock %}
{% block content %}


<div id="team-points">
{{ team_points_table }}
</div>
{% endblock %}