{% extends "comp_base.jinja" %}
{% block content %}
<div id="team-points">
{{ team_points_table }}
</div>
<div>
<ul>
    <li>Total shares: {{ total_shares }}</li>
    <li>Share value: {{ share_value }}</li>
</ul>
</div>
Shares:
<div id="team-shares">
{{ team_shares_table }}
</div>
{% endblock %}