<!DOCTYPE html>
<meta charset="utf-8">
<html>

<head>
    <title>Men's T20 World Cup 2021</title>
</head>

<body>
    {% block rules %}
    <div id="rules">
        <li>{{ 3 + 4 }}</li>
        <li>{{rule}}</li>
    </div>
    {% endblock %}
</body>

</html>